* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    max-width: 100vw;
}

.site-header  {
    img {
        margin-left: -1rem;
        // max-width: 100%;
        width: 15rem;
    }
}

.title {
    // color: #111;
    text-decoration: none;

    // a {
    //     text-decoration: 3px solid #d400ff underline ;
    // }
}

.nav{
    a {
        font-size: 2rem;
        text-decoration: none;
        color: $main-color;
    }

    ul li{
        padding: 0 0.5em;
    }

    li{
        list-style-type: none;
        font-size: 3rem;
    }

    li .active a {
        border-bottom:3px solid #d400ff;
    }
    
    li a:hover{
        border-bottom: 3px solid $main-color;
        text-shadow: .5px .5px $main-color;
    }
}

.main {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 1rem;
    flex: 1 0 auto;
    // font-size: 2.5rem;
    overflow-wrap: break-word;
    
    p {
        padding: 1rem 1rem 1rem 0;
    }

    .bread .right p{
        float: right;
        text-align: justify;
    }

    .info {
        padding-top: 2rem;
        font-size: 2rem;
        line-height: 1.4;
        width: 45rem;
        max-width: 60vw;
    } 

    .pic {
        width: 10vw;
        float: left;
        margin: 1rem;
        margin-left: 0;
        border-radius: 1rem;
        /* border: 3px solid #d400ff; */
        border: 5px solid rgba(212,0,255,0.5);
        border-left: 0;
        border-top: 0;
    }
}

.footer{
    background-color: $footer-color;
    max-width: 100%;
    display: flex;
    // border-top: 4px solid #d400ff;
    border-top: 4px solid #8A3D99;
    justify-content: space-between;
    font-size: 2rem;
    padding: 4rem;

    p{
        color: #fff;
        font-size: 1.5rem;
    }

    .social {
        color: #3f3;
    }

    .social a:hover {
        filter: saturate(7);
    }
}

.fa-bars {
    display: none;
}

@media screen and (max-width: 1200px) {
    .site-header{
        display: flex;
        flex-direction: column;
    }
}

.yt {
    display: flex;
}

.mini-list {
    margin: 1em 0 1em 1em;
}

li a:hover {
    filter: saturate(7);
}