@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Montserrat:wght@700&display=swap');


$background-color: #e8e8e8;

$header-font: 'Montserrat', sans-serif;
$header-color: #212121;
$main-font: EB 'Garamond', serif;
$main-color: #353535;