@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');


// $background-color: #222;
$background-color: #312933;
$content-color: #444;
$footer-color: #303030;
$header-font: 'Montserrat', sans-serif;
$header-color: #fff;
$main-font: EB 'Josefin Slab', serif;
$main-color: #e3e3e3;